/*-- scss:defaults --*/
$primary: #ffe5ec;
$secondary: #ffe5ec;

/* principales */
$body-bg: #a53860; // fondo
$body-color: #ffffff; // texto
$link-color: #ffe5ec; // enlaces
$border-color: #C7C3B7; // líneas
$code-block-bg: #C7C3B7; // fondo de código

/* barra de navegación */
$navbar-bg: #4a5759;// fondo
$navbar-fg: #dedbd2;// texto